In [4]:
from src.utils import *
from src.settings import Settings, Paths
from src.data import SnapDataLoader, EDA

In [5]:
settings = Settings()
settings.load_settings()

paths = Paths(settings=settings)
paths.load_device_paths()

 Selected Dataset is : pet_ct

 Selected Dataset is : unet

In [6]:
eda_analyzer = EDA(paths=paths)

In [12]:
eda_analyzer.train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80692 entries, 0 to 80691
Data columns (total 26 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   passenger_unique_identifier                      80692 non-null  float64
 1   driver_unique_identifier                         71166 non-null  float64
 2   approximate_distance_meter                       80692 non-null  int64
 3   final_price                                      80692 non-null  float64
 4   waiting_time_enabled                             80692 non-null  int64
 5   second_destination_final_price                   80692 non-null  float64
 6   round_ride_final_price                           80692 non-null  float64
 7   for_friend_enabled                               80692 non-null  int64
 8   is_voucher_used                                  0 non-null      float64
 9   intercity                                        80692 non-null  int64
 10  request_datetime                                 80692 non-null  object
 11  origin_latitude                                  80692 non-null  float64
 12  origin_longitude                                 80692 non-null  float64
 13  destination_latitude                             80692 non-null  float64
 14  destination_longitude                            80692 non-null  float64
 15  second_destination_latitude                      80692 non-null  float64
 16  second_destination_longitude                     80692 non-null  float64
 17  requested_service_type                           80692 non-null  object
 18  days_since_passenger_first_ride                  80692 non-null  int64
 19  days_since_passenger_first_request               80692 non-null  int64
 20  in_hurry_enabled                                 80692 non-null  int64
 21  ride (target)                                    80692 non-null  int64
 22  treatment_group                                  71166 non-null  object
 23  ('new_origin_latitude', 'new_origin_longitude')  80692 non-null  object
 24  new_origin_latitude                              80692 non-null  float64
 25  new_origin_longitude                             80692 non-null  float64
dtypes: float64(14), int64(8), object(4)
memory usage: 16.0+ MB

In [10]:
eda_analyzer.test_df.head()

,passenger_unique_identifier,approximate_distance_meter,final_price,waiting_time_enabled,second_destination_final_price,round_ride_final_price,for_friend_enabled,is_voucher_used,intercity,request_datetime,...,second_destination_latitude,second_destination_longitude,requested_service_type,days_since_passenger_first_ride,days_since_passenger_first_request,in_hurry_enabled,treatment_group,"('new_origin_latitude', 'new_origin_longitude')",new_origin_latitude,new_origin_longitude
0,86535006.0,5163,1300.0,0,0.0,0.0,0,NaN,0,2012-11-22 13:36:38+03:30,...,29.5009,29.5009,A,624,624,0,A,"(29.496908089483664, 60.95093813927035)",29.518830,60.945975
1,52505314.0,6102,1300.0,0,0.0,0.0,0,NaN,0,2012-11-22 00:08:02+03:30,...,29.4945,29.4945,A,1189,1282,0,A,"(29.46089609862487, 60.9252559761269)",29.476320,60.924049
2,124126394.0,4619,1260.0,0,0.0,0.0,0,NaN,0,2012-11-22 13:34:58+03:30,...,29.5130,29.5130,A,1,1,0,A,"(29.488796156443147, 60.95678957841472)",29.484565,60.956998
3,71296786.0,2210,920.0,0,0.0,0.0,0,NaN,0,2012-11-22 08:20:06+03:30,...,29.4991,29.4991,A,895,895,0,A,"(29.509874819344816, 60.95307799681066)",29.501310,60.955014
4,86119764.0,3599,1140.0,0,0.0,0.0,0,NaN,0,2012-11-22 10:14:43+03:30,...,29.5193,29.5193,A,344,344,0,A,"(29.499068686791556, 60.93856551182067)",29.511344,60.936987

In [11]:
eda_analyzer.train_df.isnull().sum()

passenger_unique_identifier                            0
driver_unique_identifier                            9526
approximate_distance_meter                             0
final_price                                            0
waiting_time_enabled                                   0
second_destination_final_price                         0
round_ride_final_price                                 0
for_friend_enabled                                     0
is_voucher_used                                    80692
intercity                                              0
request_datetime                                       0
origin_latitude                                        0
origin_longitude                                       0
destination_latitude                                   0
destination_longitude                                  0
second_destination_latitude                            0
second_destination_longitude                           0
requested_service_type                                 0
days_since_passenger_first_ride                        0
days_since_passenger_first_request                     0
in_hurry_enabled                                       0
ride (target)                                          0
treatment_group                                     9526
('new_origin_latitude', 'new_origin_longitude')        0
new_origin_latitude                                    0
new_origin_longitude                                   0
dtype: int64